/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 1px solid #000;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  font-weight: 500;
}
